<h1>Student Page</h1>
<%="#{@student.first_name}  #{@student.last_name}"%>
<p><%=link_to "Update Student Info", edit_path%></p>
<p><%=link_to "Delete this artist", student_path(@student.id), method: "delete" %></p>
<p><%=link_to "Student List", students_path%></p>
